*.layout
Lessons/
build-caesarsCode-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/
# User defined
bin/
*.cbp
*.depend

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Qt
*/build*
*.pro.user
*Makefile